<h1>Dashboard</h1>
<p>Hello <%= current_user.name %> here's yours private info</p>

<table>
	<thead>
    <tr>
      <th>No.</th>
      <th>Currency</th>
      <th>Balance</th>
    </tr>
  </thead>
	<tbody>
		<tr><% current_user.accounts.each do |acc_data| %>
      <td><%= acc_data.id %></td>
      <td><%= acc_data.currency %></td>
      <td><%= acc_data.amount %></td>
    </tr><% end %>
	</tbody>
</table>

<%= form_with url: change_balance_balances_path, method: :post do |f| %>
  <%= select_tag :currency, options_for_select(current_user.accounts.map{ |acc| [acc.currency, acc.id] }, params[:currency]) %>
  <%= select_tag :operation, options_for_select([['deposit', :sum], ['withdraw', :subtr]], params[:operation]) %>
  <%= number_field_tag :amount, params[:amount] %>
  <%= f.submit 'Apply transaction' %>
<% end %>
