<!DOCTYPE html>
<html>
  <head>
    <title>Bankonrails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<body>
  <%= link_to('Sign out', destroy_user_session_path, method: :delete) if user_signed_in? %>
  <%= yield %> 
</body>
